# Luentoviikko 4

## Luennon tärkeimmät pointit
***
Neljännellä luentoviikolla kävimme pääasiassa harjoitustyön toteuttamiseen liittyviä käytännön asioita läpi AirBnB- esimerkin avulla. Tärkeä opittava asia luennolla oli myös CRISP-DM prosessi, jota pystyy käyttämään avuksi projektin aloittamisessa ja oikean kysymyksen valinnassa. Läpi käytiin myös malli työvaiheet, joita voidaan käyttää data-analytiikkaprojektin toteuttamiseen. Koodiklinikalla puolestaan syvennyttiin lineaariseen regressioon datan pohjalta ennustamisen tekemisessä.
***

#### 1:
CRISP-DM prosessi viittaa standardiprosessiin jota voidaan käyttää lähtökohtana datapohjaisen ongelman ratkaisuun. Nimi CRISP-DM on lyhenne CRoss Industry Standard Process for Data Mining, ja kuvaa hyvin käytännön levinneisyyttä ja asemaa. Prosessi onkin käytössä yleisesti monella ammattilaisella, kuten luennollakin huomattiin. Prosessin aloituspisteessä on liiketoimintaymmärrys, josta koko analytiikka lähtee liikkeelle. Ajatusmallin avain onkin liiketoimintaongelman tunnistaminen ennen analytiikan käyttöönottoa, jolloin voidaan olla varmoja, että ongelma johon yritetään vastata on oikea. Prosessi koostuu kuudesta eri vaiheesta, jotka myös koostivat luennon sisällön.

#### 2:
CRISP-DM prosessin toinen vaihe on datan ymmärtäminen suhteessa ratkaistavaan ongelmaan. Vaiheessa analysoidaan mitä dataa tarvitaan ongelman ratkaisua varten, sekä mihin dataan tällähetkellä on jo olemassa pääsy. Kun data tarpeet on selkeät, voidaan datan keruu aloittaa sekä datan aloistava analysointi aloittaa tutkimalla tietotyyppejä, datan määrää ja rakennetta. Visualisoimalla alustavaa dataa ja tutkimalla sen sisäisiä suhteita voidaan datan sopivuus kyseessä olevaan ongelmaan varmistaa.

#### 3:
Kolmas vaihe CRISP-DM mallissa on datan valmistelu, joka itsessään kattaa jopa 80% projektin laajuudesta. Vaihe kattaa datan valinnan tekemisen, datan siivoamisen ja uusien attribuuttien johtamiseen. Vaiheessa onkin tarkoitus valmistella datasetit viimeisiä vaiheita varten.

#### 4:
Neljännessä vaiheessa CRISP-DM prosessia siirrytään datan mallintamiseen. Vaiheessa pyritään luomaan teknisesti, tilanne huomioon ottaen hyvä malli, sillä vaikka ideaalitilanteessa malli on paras mahdollinen vaiheen jälkeen, voi realiteetti olla eri ja koko prosessi toistua monta kertaa uudestaan, jolloin mallin sopivuutta voidaan parantaa iteratiivisesti joka kerralla. Teknisesti täysin optimaalisen mallin luominen vaatiikin monta iteraatiota ja saattaa olla projektista riippuen liian resurssi-intensiivistä yhdellä kertaa toteutettavaksi. Vaihe on kuit


#### 5:
CRISP-DM mallin kaksi viimeistä vaihetta ovat mallin liiketoimintasopivuuden arviointi sekä sen vieminen käytäntöön. Arviointivaiheessa voidaan vielä palata piirrustuspöydälle, jos koetaan tarvetta muuttaa mallia tai havaitaan jotain uutta ongelmaan liittyen, jota tulee tutkia. Julkaisuvaiheessa saatu analytiikka viedään käytäntöön ratkaisemaan haluttu ongelma.

## Kehitysvinkit
Lisää esimerkkejä oman datasetin kokoamisesta ja harjoitustyön vaatimuksista kolmen pisteen saamiseen tässä osiossa.

## Koodi
Tehdään listatuille AirBnB asunnoille monimuuttujaregressio ja tutkitaan,  miten tällä voidaan ennustaa asunnon varaustilannetta.

In [1]:
## Haetaan tarvittavat kirjastot
import pandas as pd
from sklearn import linear_model

In [7]:
##Käytetään listaus datasettiä
listings = pd.read_csv("listings.csv")
##Jaetaan data kahteen dataframeen
tdf = listings[["price", "reviews_per_month", "calculated_host_listings_count"]]
Ydf = listings[[ "availability_365"]]
##Varmistetaan että datatyypit sopivat
print(tdf.dtypes)
print(Ydf.dtypes)

price                               int64
reviews_per_month                 float64
calculated_host_listings_count      int64
dtype: object
availability_365    int64
dtype: object

In [8]:
tdf.describe()

             price  reviews_per_month  calculated_host_listings_count
count  5556.000000        5044.000000                     5556.000000
mean    168.184665           1.412659                        2.181066
std     167.458710           2.583281                        3.158970
min       0.000000           0.010000                        1.000000
25%      98.000000           0.310000                        1.000000
50%     139.000000           0.670000                        1.000000
75%     200.000000           1.670000                        2.000000
max    6477.000000          95.890000                       22.000000

In [9]:
Ydf.describe()

       availability_365
count       5556.000000
mean         106.352772
std          129.274364
min            0.000000
25%            0.000000
50%           34.000000
75%          204.000000
max          365.000000

In [12]:
##Täytetään puuttuvat arvot
Xdf = tdf.fillna(value=0)

In [13]:
##luodaan regressiomalli
regr = linear_model.LinearRegression().fit(Xdf, Ydf)

In [14]:
##Ennustetaan asunnon saatavuus, kun hinta on 190, arvosteluja on 2
##per kuukausi ja omistajalla on neljä muuta listattua asuntoa.
pred = regr.predict([[190, 2.0, 4]])
print(pred)

[[135.63179602]]

In [15]:
##Tutkitaan kuinka paljon kukin muuttuja vaikuttaa ennusteeseen
print(regr.coef_)

[[ 0.07520922 10.78254149 10.94135253]]

Huomataan että hinta ei vaikuta juuri yhtään, verrattuna arvioiden määrään ja omistajan muiden listausten määrään.